html { height: 100%; }
body {
    min-height:100%; 
    position:relative; /* al ponerlo como relativo este queda fijo */
    padding-bottom:[footer-height] 
}
.ajustar{
    padding-bottom: 4em;
}
footer { 
    display: flex;
    justify-content: space-evenly;
    position: absolute; /* al ponerlo como absoluto este lo podemos mover */
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
    color: #c4a56e!important;
}

footer {
    color: #c4a56e!important;
    flex-direction: column;
    align-items: center;
}
.vertical{
    flex-direction: row;
}
footer.vertical p{
    align-self: center;
    padding-top: 15px;
    
}
header a{
    color: #c4a56e!important; 
}
.doradito{
    color: #c4a56e!important;
    font-size: 1em;
    text-transform: uppercase;
    
}
.doradito:hover{
    color:white!important;
}
.bg-doradito{
    background-color: #c4a56e!important;
    color: white!important;
    text-transform: uppercase;
}

.bg-doradito:hover{
    background-color: white!important;
    color: #c4a56e!important;
    border: 1px solid #c4a56e!important;
}

.abajo{
    margin-top: 10%;
    padding-bottom: 1px;
}