{% extends "layout.html" %}

{% block content %}

<div class="container ">
    <h1 class="text-center my-5">ACERCA</h1>

    <p class="px-3 " style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident sit exercitationem laudantium architecto ea quam obcaecati quae deserunt ratione? Sed provident harum in nostrum quidem odio dolor praesentium dicta?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt corporis, ipsam, unde dolorem a voluptate ullam voluptatibus sequi mollitia ex nemo reiciendis at facilis blanditiis delectus architecto exercitationem temporibus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatibus quidem molestiae iste molestias atque quis accusamus amet nesciunt! Hic expedita sit vitae ad consequuntur tempora soluta nemo, quo at.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ea dicta itaque magnam tempora nihil harum veritatis, repudiandae odit id ab a corrupti sed eos voluptas in saepe amet tempore?
    </p>
</div>


{% endblock %}