{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="mx-auto mt-5 py-4">


<div class="card mb-3 mx-auto mt-5" style="max-width: 950px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ producto.imagen.url }}" class="img-fluid rounded-start p-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ producto.titulo }}</h3>
          <h6>{{ producto.categoria }}</h6>
          <p class="card-text">{{ producto.descripcion }}</p>
          <div class="d-flex justify-content-between">
            <div class="col"> 
                <p> $$ {{ producto.precio }} </p>
            </div>
            <div class="col d-flex justify-content-end"><a href="#" class="btn doradito bg-doradito me-2">Comprar</a>
                <a href="#" class="btn doradito bg-doradito me-2">Editar</a>
                <a href="#" class="btn doradito bg-doradito">Borrar</a>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

   
   






{% endblock %}