{% url 'productos:home' as home %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 pt-0">
    <div class="container-fluid mx-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item me-5">
            <a class="nav-link doradito" href="{% url 'tienda:index' %}" >Home</a>
          </li>
          <li class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle doradito" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu alert-dark" aria-labelledby="navbarDropdown">
              {% for resultado in variableCategoria1 %}
                <li><a class="dropdown-item alert-link" href="/search?q={{resultado}}">{{ resultado.descripcion }}</a></li>
              {% endfor %}            
            </ul>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link doradito" href="{% url 'tienda:acerca' %}">Acerca</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link doradito" href="mailto:zahiraabdala@gmail.com">Contacto</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link doradito" href="#">Nuevo Producto</a>
          </li>
        </ul>
        <form method="GET" action="{% url 'tienda:search' %}" class="d-flex">
            <input class="form-control me-2" type="search" name='q' placeholder="Search" aria-label="Search" >
            <button class="btn bg-doradito me-3" type="submit">Search</button>
    </form>
      </div>
    </div>
</nav>